body {
  background-color: #F7F7F7;
}

.container {
  max-width: 1300px;
  width: 1200px;
}

.container_modal {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

#sidebar {
  background-color: #7A8CD7;
  color: white;
}
#sidebar .sidebar-header {
  background-color: #6377c8;
}
#sidebar ul li {
  font-size: 18px;
  padding: 10px 0 10px 10px;
  transition: 0.3s;
}
#sidebar ul li a {
  text-decoration: none;
}
#sidebar ul li:hover {
  background-color: rgb(249, 248, 248);
  color: #7A8CD7;
}
#sidebar ul .active {
  background-color: #6377c8;
  transition: 0.3s;
}
#sidebar ul .active:hover {
  background-color: #6377c8;
}
#sidebar ul .active:hover a {
  color: white;
}

.main .title {
  background-color: #6377c8;
}
.main .title .left {
  color: white;
}
.main .title .right #btnThemSP {
  font-size: 16px;
  background-color: rgb(14, 83, 83);
  color: white;
  padding: 1px 16px;
  transition: 0.3s;
}
.main .title .right #btnThemSP:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  padding: 1px 16px;
}
.main .title .right .sort {
  font-size: 16px;
  border-radius: 5px;
  background-color: #138294;
  color: white;
  padding: 1px 16px;
  transition: 0.3s;
}
.main .title .right .sort:hover {
  background-color: #19a9c0;
  color: black;
  padding: 1px 16px;
}
.main .title .right input {
  font-size: 16px;
}
.main .title .right .input-group-text {
  transition: 0.3s;
  overflow: hidden;
}
.main .title .right .input-group-text:hover {
  cursor: pointer;
  background-color: #9b9b9b;
  border: 0.2px solid gray;
}
.main .table {
  background-color: white;
}
.main .modal-footer .btn-add {
  background-color: rgb(205, 143, 26);
  color: white;
  padding: 8px 16px;
  transition: 0.3s;
}
.main .modal-footer .btn-add:hover {
  background-color: rgb(244, 170, 32);
  color: black;
  padding: 8px 16px;
}
.main .modal-footer .close-btn {
  background-color: #6377c8;
  color: white;
  padding: 8px 16px;
  transition: 0.3s;
}
.main .modal-footer .close-btn:hover {
  background-color: #8992d4;
  color: black;
  padding: 8px 16px;
}
.main .modal-footer .btn-update {
  background-color: #138294;
  color: white;
  padding: 8px 16px;
  transition: 0.3s;
}
.main .modal-footer .btn-update:hover {
  background-color: #19a9c0;
  color: black;
  padding: 8px 16px;
}
.main .modal-footer .btn-reset {
  background-color: rgb(194, 25, 25);
  color: white;
  padding: 8px 16px;
  transition: 0.3s;
}
.main .modal-footer .btn-reset:hover {
  background-color: rgb(224, 72, 72);
  color: black;
  padding: 8px 16px;
}/*# sourceMappingURL=index.css.map */