// Variable
$color-bg-1: linear-gradient(rgba(24, 27, 69, 0.7),rgb(184, 60, 89,0.7));
$color-bg-2: #F7F7F7;
$color-bg-3: linear-gradient(to right, rgba(231, 186, 204, 0.2) , rgba(178, 178, 234, 0.4));
$color-black-1: rgb(0, 0, 0, 0.9);
$color-black-2: rgb(21, 21, 21);
$color-white-1: white;
$color-orange-1: #eb4d26;
$color-orange-2: #f37e60;
$color-red-1: red;
$color-blue-1: #7A8CD7;
$color-blue-2: #6377c8;
$color-green-1: rgb(14, 83, 83);
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

body{
    background-color: $color-bg-2;
}

@mixin btn-theme-2($color1, $color2){
    background-color: $color1;
    color: $color2;
    padding: 1px 16px;
}
@mixin btn-theme-3($color1, $color2){
    background-color: $color1;
    color: $color2;
    padding: 8px 16px;
}

.container{
    max-width: 1300px;
    width: 1200px;
}

.container_modal{
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
}

#sidebar{
    background-color: $color-blue-1;
    color: $color-white-1;
    .sidebar-header{
        background-color: $color-blue-2;
    }
    ul{
        li{
            font-size: 18px;
            padding: 10px 0 10px 10px;
            transition: 0.3s;
            a{
                text-decoration: none;
            }
            &:hover{
                background-color: rgb(249, 248, 248);
                color: $color-blue-1;
            }
        }
        .active{
            background-color: $color-blue-2;
            transition: 0.3s;
            &:hover{
                background-color: $color-blue-2;
                a{
                    color: white;
                }
            }
        }
    }
}

.main{
    .title{
        background-color: $color-blue-2;
        .left{
            color: $color-white-1;
        }
        .right{
            #btnThemSP{
                font-size: 16px;
                @include btn-theme-2($color-green-1, $color-white-1);
                transition: 0.3s;
                &:hover{
                    @include btn-theme-2($color-white-1, $color-black-1);
                }
            }
            .sort{
                font-size: 16px;
                border-radius: 5px;
                @include btn-theme-2(#138294, $color-white-1);
                transition: 0.3s;
                &:hover{
                    @include btn-theme-2(#19a9c0, black)
                }   
            }
            input{
                font-size: 16px;
            }
            .input-group-text{
                transition: 0.3s;
                overflow: hidden;
                &:hover{
                    cursor: pointer;
                    background-color: $gray;
                    border: 0.2px solid gray;
                }
            }
        }
    }
    .table{
        background-color: $color-white-1;
    }
    .modal-footer{
        .btn-add{
            @include btn-theme-3(rgb(205, 143, 26), $color-white-1);
            transition: 0.3s;
            &:hover{
                @include btn-theme-3(rgb(244, 170, 32), black)
            }
        }
        .close-btn{
            @include btn-theme-3($color-blue-2, $color-white-1);
            transition: 0.3s;
            &:hover{
                @include btn-theme-3(#8992d4, black)
            }
        }
        .btn-update{
            @include btn-theme-3(#138294, $color-white-1);
            transition: 0.3s;
            &:hover{
                @include btn-theme-3(#19a9c0, black)
            }
        }
        .btn-reset{
            @include btn-theme-3(rgb(194, 25, 25), $color-white-1);
            transition: 0.3s;
            &:hover{
                @include btn-theme-3(rgb(224, 72, 72), black)
            }
        }
    }
}